---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL('/v1/generate/og/default.png', Astro.url);
}

const { title, description, ogImage } = Astro.props;
---

<head>
  <LocalFont />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <link
    rel='alternate'
    href='https://brutal.elian.codes/blog.xml'
    type='application/rss+xml'
  />

  <meta name='title' content={`Brutal Theme | ${title}`} />
  <meta name='description' content={description} />



  <meta property='og:type' content='website' />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImage} />

  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={title} />
  <meta property='twitter:description' content={description} />
  <meta property='twitter:image' content={ogImage} />

  <link rel='canonical' href={canonicalURL} />
  

  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
  <link rel="manifest" href="/public/favicon/site.webmanifest">
  <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <title>infoSTRIKES! | {title}</title>

  <ViewTransitions />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Kode+Mono:wght@400..700&family=Rubik+Distressed&family=Share+Tech+Mono&family=VT323&family=Teko:wght@300..700&family=Jacquard+12+Charted&family=Jacquarda+Bastarda+9+Charted&family=Black+Ops+One&family=Jersey+10&Bangers&family=Luckiest+Guy&family=Jacquard+24&family=Tiny5&family=Libre+Barcode+39&family=Special+Elite&family=Micro+5+Charted&family=Silkscreen:wght@400;700&family=Six+Caps&family=Protest+Guerrilla&family=Orbitron:wght@400..900&family=Libre+Barcode+128+Text&family=Bebas+Neue&family=Permanent+Marker&display=swap" rel="stylesheet">

  <slot />
</head>
