---
interface Props {
  pageTitle?: string;
  color?: string | undefined;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'News', url: '/news/' },
];

const socialIcons = [
  {
    name: 'Twitter',
    url: 'https://x.com/infostrikes',
    icon: 'i-uil-twitter',
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/infostrikes',
    icon: 'i-uil-instagram',
  },
  { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];


import colors from '../../config/colors.json';

if (Astro.props.color === undefined) {
  Astro.props.color =
    colors[Math.floor(Math.random() * colors.length)];
}


const { pageTitle, color } = Astro.props;


---

<style define:vars={{ color: color }} >
  .nav-color {
    background-color: var(--color);
  
  }
  </style>
<header class='nav-color border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='vt323 md:text-5xl'>infoSTRIKES!</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg  tiny5 font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`'See @infostrikes on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li><a href='/news/'>News</a></li>
    </ul>
  </nav>
</header>
